<!-- Companies table -->
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Company</th>
      <th>Estimated Earnings</th>
      <th>Estimated Earnings + Child Companies</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of paginated">
      <td>{{ company.name }}</td>
      <td>{{ company.earnings }}</td>
      <td>{{ company.fullEarnings }}</td>
      <td>
        <button type="button" class="btn btn-primary" (click)="editDialog.show(company)">Update</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Pagination -->
<pagination [itemsPerPage]="itemsPerPage" [totalItems]="tableData.length" (pageChanged)="paginateCompanies($event.page)">
</pagination>


<!-- Edit company modal dialog-->
<edit-company-dialog #editDialog [companies]="tableData"></edit-company-dialog>